:javascript
  $("#showsearches").click(function() {
      $("#testpanel").toggle();
      $('#id').trigger('click');
  });

  $("#closesearches").click(function() {
      $("#testpanel").toggle();
  });

