:javascript

  $("#showsearches").click(function (e) {
    $("#testpanel").fadeToggle("fast");
  });


  // THIS CLOSES THE WIDGET
  $("#closesearches").click(function() {
      $("#testpanel").fadeToggle("fast");
  });




