:javascript
  $("#addtimeseries").click(function(e) {
      e.preventDefault();
      graphType = 'timeseries';
      gTypeName = 'Time Series';
      addWidget(graphType, gTypeName);

  });

  $("#addtermstructure").click(function(e) {
    e.preventDefault();
    graphType = 'termstructure';
    gTypeName = 'Term Structure';
    addWidget(graphType, gTypeName);

  });

  $("#adddatatable").click(function(e) {
    e.preventDefault();
    graphType = 'datatable';
    gTypeName = 'Data Table';
    addWidget(graphType, gTypeName);
  });
  $("#adddetails").click(function(e) {
      e.preventDefault();
      graphType = 'details';
      gTypeName = 'Details';
      addWidget(graphType, gTypeName);

  });
  $("#adddelta").click(function(e) {
      e.preventDefault();
      graphType = 'delta';
      gTypeName = 'Delta';
      addWidget(graphType, gTypeName);
  });
  $("#addois").click(function(e) {
      e.preventDefault();
      graphType = 'ois';
      gTypeName = 'OIS';
      addWidget(graphType, gTypeName);
  });
  $("#addccy").click(function(e) {
      e.preventDefault();
      graphType = 'ccy';
      gTypeName = 'CCY';
      addWidget(graphType, gTypeName);
  });