:javascript
  // THE FOLLOWING FUNCTIONS ADD THE WIDGETS
  i = 0;
  // THE FOLLOWING GENERATES THE TIMESERIES WIDGET
  $("#addtimeseries").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="timeseries' + i + '"><div class=\"panel-heading timeseries dragDiv" id="searchname">Time Series<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="timeseriesbody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#timeseriesbody" + i + "").removeAttr("id").uniqueId();

      i++;
  });

  // THE FOLLOWING GENERATES THE TIMESERIES WIDGET
  $("#addtermstructure").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="termstructure' + i + '"><div class="panel-heading termstructure dragDiv" id="searchname">Term Structure<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="termstructurebody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#termstructurebody" + i + "").removeAttr("id").uniqueId();
      i++;
  });

  // THE FOLLOWING GENERATES THE TIMESERIES WIDGET
  $("#adddatatable").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="datatable' + i + '"><div class="panel-heading datatable dragDiv" id="searchname">Data Table<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body nopad4" id="datatablebody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 9, 6);

      $("#gridlist").find("#datatablebody" + i + "").removeAttr("id").uniqueId();
      i++;
  });

  // THE FOLLOWING GENERATES THE TIMESERIES WIDGET
  $("#adddetails").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="details' + i + '"><div class="panel-heading details dragDiv" id="searchname">Details<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="detailsbody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#detailsbody" + i + "").removeAttr("id").uniqueId();
      i++;
  });

  $("#adddelta").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="delta' + i + '"><div class="panel-heading delta dragDiv" id="searchname">Delta<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="deltabody' + i + '"  style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#deltabody" + i + "").removeAttr("id").uniqueId();
      i++;
  });

  $("#addois").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="ois' + i + '"><div class="panel-heading ois dragDiv" id="searchname">OIS<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="oisbody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#oisbody" + i + "").removeAttr("id").uniqueId();
      i++;
  });

  $("#addccy").click(function (e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default" id="ccy' + i + '"><div class="panel-heading ccy dragDiv" id="searchname">CCY<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" id="ccybody' + i + '" style="width:100%;height:100%;margin: 0 auto"></div></li>', 6, 6);

      $("#gridlist").find("#ccybody" + i + "").removeAttr("id").uniqueId();

      i++;
  });