.container-fluid.nopad

  / #charter.col-md-4.nopad
  /   .panel.panel-default
  /     .panel-heading
  /       Scatter Plot
  /     .panel-body
  /       #charts

  #hello.col-md-4
    #showtime
=render "/searches/tablemodal"
#testpanel.navbar.navbar-default.navbar-fixed-bottom{style: "display:none;"}
  =render "allsearches"

=render "indexcharts"