#center{:style => "position:fixed;top:50%;left:50%"}
#mainpage.container-fluid.nopad{style:"margin-left:80px;"}
  .gridster.ready{:style => "width: 100%; position: relative; height: 325px;"}
    %ul#gridlist{:style => "width:100%;position:relative;height:325px;"}

=render "/views/viewmodal"
=render "charter"
=render "gridster"
=render "widgets"
=render "draggability"





    

    
   


  