=render "/views/viewmodal"
=render "charter"
=render "widgetadder"

#center{:style => "position:fixed;top:50%;left:50%"}
#mainpage.container-fluid.nopad{style:"margin-left:80px;"}
  .gridster.ready{:style => "width: 100%; position: relative; height: 325px;margin-top:8px;"}
    %ul#gridlist{:style => "width:100%;position:relative;height:325px;"}





:javascript
  $('.divcloser').click( function(){
    $('#sidebar2').hide();
  })

    

    
   


  