/ #wrapper
/   / Sidebar
/   #sidebar-wrapper
/     =render"sidebar"

/   / /#sidebar-wrapper
/   / Page Content

/   #page-content-wrapper
.container-fluid.nopad
  .col-md-4.nopad
    .panel.panel-default
      .panel-heading
        Time Series
      .panel-body
        = high_chart "s", @chart
  .col-md-4.nopad
    .panel.panel-default
      .panel-heading
        Scatter Plot
      .panel-body
        = high_chart "s2", @chart2

:javascript
  $( "#timeseries" ).click(function() {
    $("body").jsPanel({position:  "center"});
  });
