=render "/views/viewmodal"
=render "widgetadder"

#center{:style => "position:fixed;top:50%;left:50%"}
#mainpage.container-fluid.nopad{style:"margin-left:80px;"}
  
  .page-header
    %a.pull-right.btn.btn-primary{"ng-init" =>"graphType='timeseries';gTypeName='Time Series'", "ng-click" => "addTimeSeriesWidget()"}
      Add Widget
    %a.pull-right.btn.btn-warning{"ng-click" => "clear()"}
  %div{:gridster => "gridsterOptions"}
    %ul
      %li.droppable.panel.panel-default{"gridster-item" => "widget", "ng-repeat" => "widget in dashboard.widgets"}
        %div{"ng-controller" => "CustomWidgetCtrl", "ng-attr-id" =>"{{ widget.graphType }}"}
          #searchname.panel-heading.dragDiv
            .btn-group.pull-right
              %a{"ng-click" => "remove(widget)"} 
                x
            {{ widget.gTypeName }}
          .panel-body{:style => "width:100%;height:90%;margin: 0 auto"}
            Drop a search in


:javascript
  $('.divcloser').click( function(){
    $('#sidebar2').hide();
  })

    

    
   


  