.panel.panel-default
  .panel-heading
    %h5{style:"margin-top:5px;margin-bottom:5px;"} 
      New Search
      %a.btn-group.pull-right.divcloser{:href => "javascript:void(0)"} x
  .panel-body{style:"height:900px;"}
    = render 'form'

:javascript
  $('.divcloser').click( function(){
    $('#sidebar2').hide();
  })