%table.datatabler2.table.table-bordered.table-hover{style: "width:100%;cellspacing:0px;"}
  %thead
    %tr
      %th 
      - @deltahasharray["curveDeltas"].each do |item|
        %th=item["name"]
        %th

  %tbody
    - counter = 0
    - @deltahasharray["periods"].each_with_index do |item, index|
      %tr
        %td=item
        - if counter < @curveDeltaCount
          - if index < (@objectcount - 1)
            %td=(((@deltahasharray["curveDeltas"])[counter])["quoteInstrumentTypes"])[index]
            %td=(((@deltahasharray["curveDeltas"])[counter])["deltaValues"])[index]
          - elsif index == (@objectcount - 1)
            %td=(((@deltahasharray["curveDeltas"])[counter])["quoteInstrumentTypes"])[index]
            %td=(((@deltahasharray["curveDeltas"])[counter])["deltaValues"])[index]
            -counter+=1
          - else
            %td No Info available
        %td


:javascript
  $('.datatabler2').DataTable({
      "searching": false,
      "lengthChange": false,
      "info": false,
      "order": []
  });



