:javascript   
  var data = #{@scopedsearch_b};
  chartid = chance.hash();
  $("##{@bodyidentifier} .panel-body .first").highcharts({
      credits: {
        enabled: false
      },
      title: {
        style: {
          color: 'black',
          fontSize: '12px',
          display: 'none'
        },
        text: "Term Structure: #{@search.name}"
      },
      scrollbar : {
        enabled : false
      },
      chart: {
        type: 'spline',
        zoomType: 'x',
        animation: false
      },
      navigator: {
        enabled: false
      },
      rangeSelector: {
          enabled : false
      },
      xAxis: {        
          type: 'linear'
          // labels: {
          //     formatter: function() {
          //         var dayStr = Highcharts.dateFormat('%d', this.value);
          //         var yearStr = Highcharts.dateFormat('%y', this.value);
          //         var monthStr = Highcharts.dateFormat('%b', this.value);
          //         return monthStr + " " + dayStr + ", " + yearStr;
          //     }
          // }
      },
      yAxis: {
        type: "linear"
      },
      plotOptions: {
        series: {
          stickyTracking: false
        }
      },
      tooltip: {
          formatter: function() {
             //      var s = "";
             //      $.each(this.points, function(i, point) {
             //        s += "hello";
             //         // 'Maturity: ' + point.point.x +"<br/>" + 'Common fixed fair rate: ' + point.point.y + "%"
             // });
             return 'Maturity: '+ this.x + '<br/>' + 'Price Metric: ' + this.y+'%' ;
          },
          enabled: true
      },
      series: [{
          data: data,
          lineWidth : 0,
          marker : {
            enabled : true,
            radius : 2
          },
          color : "orange"
          }]
        });
 
