:javascript   
  var data = #{@scopedsearch_time};
  chartid = chance.hash();
  $("##{@bodyidentifier} .panel-body").highcharts('StockChart', {
      title: title_style,
      chart: chart_type,
      rangeSelector: rangesel_def,
      xAxis: xaxis_type,
      plotOptions: plot_options,
      tooltip: tooltip_type,
      series: [series_gen(data)]
        });
