:javascript
  $(function () {
      function randomFloatBetween(minValue,maxValue,precision){
        if(typeof(precision) == 'undefined'){
            precision = 2;
        }
        return parseFloat(Math.min(minValue + (Math.random() * (maxValue - minValue)),maxValue).toFixed(precision));
    };
    var $container =  $("#"+ droppableDiv +" .panel-body");
    var data = #{@scopedsearch.map {|a| {x:((a.execution_timestamp)*1000), y:a.price_notation, dissId: a.dissemination_id}}.to_json};;
    $("#"+ droppableDiv +" .panel-body").highcharts('StockChart', {
        credits: {
          enabled: false
        },
        title: {
          style: {
            color: 'black',
            fontSize: '12px',
            display: 'none'
          },
          text: "Term Structure: #{@search.name}"
        },
        chart: {
          type: 'spline',
          zoomType: 'xy',
          events : {
              load : function () {

                  // set up the updating of the chart each second
                  var series = this.series[0];
                  setInterval(function () {
                      var obj = {};
                      var x = (new Date()).getTime();
                      var y = randomFloatBetween(1.7,1.85,4);
                      var dissId= 12343;
                      series.addPoint({x: x, y: y, dissId: dissId});
                  }, 1000);
              }
          }
        },
        navigator: {
            maskFill: 'rgba(209, 74, 0, 0.5)',
            series: {
                color: 'rgba(209, 74, 0, 0.5)',
                lineColor: "orange"
            }
        },
        rangeSelector: {
            enabled : false,
            selected : 1,
            inputEnabled: $("#"+ droppableDiv +"").width() > 480
        },
        xAxis: {        
            type: 'datetime',
            labels: {
                formatter: function() {
                    var dayStr = Highcharts.dateFormat('%d', this.value);
                    var yearStr = Highcharts.dateFormat('%y', this.value);
                    var monthStr = Highcharts.dateFormat('%b', this.value);
                    return monthStr + " " + dayStr + ", " + yearStr;
                }
            }
        },
        plotOptions: {
          line: {
            turboThreshold: false
          }, 
          tooltip: {
            followPointer: true
          }
        },
        tooltip: {
            snap: 1,
            formatter: function() {
                    var s = "";
                    $.each(this.points, function(i, point) {
                      s += 'Dissemination id: ' + point.point.dissId;
               });
               return s;
            }
        },
        series: [{
            data: data,
            lineWidth : 0,
            marker : {
              enabled : true,
              radius : 2
            },
            color : "orange"
            }]
          });
        });

