:javascript  
  var gtype = "#{@graphType}";
  console.log(gtype);
  if (gtype == "show_termstructure"){
      console.log("GOING IN");
      data = #{@scopedsearch_time};
  }
  $("##{@bodyidentifier} .panel-body .second").highcharts('StockChart', {
      credits: {
        enabled: false
      },
      chart: {
        type: 'spline',
        zoomType: 'x',
        height: 78,
        // events : {
        //     load : function () {
        //         // set up the updating of the chart each second
        //         var series = this.series[0];
        //         globalarray.push(series);
        //         intervalArr.push(setInterval(function () {
        //             var chart =  $("#"+ droppableDiv +" .panel-body").highcharts();
        //             var x = (new Date()).getTime();
        //             var y = randomFloatBetween(1.7,1.85,4);
        //             var dissId= 12343;
        //             series.addPoint({x: x, y: y, dissId: dissId}, true, true, false);
        //         }, 2000));
        //     }
        // },
        animation: false
      },
      scrollbar : { enabled : true },
      rangeSelector: { enabled : false },
      xAxis: xaxis_navtype,
      yAxis: yaxis_navtype,
      tooltip: {
        enabled: false
      },
      series: [{
          data: data
          }]
        });

