%table.datatabler.table.table-bordered.table-hover{style: "width:100%;cellspacing:0px;"}
  %thead
    %tr
      %th 
      - @deltahasharray["curveDeltas"].each do |item|
        %th=item["name"]
        %th

  %tbody
    - @deltahasharray["periods"].each do |s|
      %tr
        %td=s
        -# - @deltahasharray["curveDeltas"].each do |item|
        %td
        %td
        %td


:javascript
  $('.datatabler').DataTable({
      "searching": false,
      "lengthChange": false,
      "info": false,
      "order": []
  });



