#table-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "tablemodal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-table-modal
#table-modal-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "tablemodaledit", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-table-modal-edit
