{"modules":["xy","line","area","vbar","yx","hbar","scatter","3d","vbar3d","hbar3d","r","gauge","radar","pareto","stock","range","vbullet","animation","api","tooltip","legend","scalemarkers","csv","guide","objects","zoom","preview","scroll","errorbars","export","refresh","debug","selection","history"]}