#view-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "viewmodal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-view-modal
#view-modal-edit.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "viewmodaledit", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    #inner-view-modal-edit
