
function loader() {
  $('#mainpage').fadeTo('slow', 0.2);
  gridster.remove_all_widgets();
  var target = document.getElementById('center');
  
  spinner = new Spinner(opts).spin(target);
  addWidgets();
  globalarray.length = 0;
  setTimeout(function () { regenGraphs(); }, 1000);
};

function addWidgets() {
    
    var parsedData = <%= @view.body.html_safe %>;
    $.each(parsedData, function () {
        gridster.add_widget("<li class='droppable panel panel-default' id=" + this.id + ">" + this.htmlContent + "</li>", this.size_x, this.size_y, this.col, this.row);
    });
};


loader();


