.panel-default {
  background-color: #151A21;
  color: white;
}
.panel .panel-heading{
  background-color: #0F2B3B;
  color: white;
  font-size: 12px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.panel {
}
