.panel-default .panel-body{
  background: rgb(31, 72, 103);
  background: -moz-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -webkit-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -o-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -ms-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: linear-gradient(135deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  color: white;
}
.panel .panel-heading{
  background-color: #172840;
  color: white;
  font-size: 12px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.panel {
}

.droppable {
  background: rgb(31, 72, 103);
  background: -moz-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -webkit-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -o-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: -ms-linear-gradient(45deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
  background: linear-gradient(135deg, rgb(31, 72, 103) -1%, rgb(21, 26, 59) 100%) !important;
}