thead { background: black; margin:0px; cell-spacing:0px; left:0px; color:white;}
tfoot { background: black; margin:0px; cell-spacing:0px; left:0px; color:white;}
th { height:10px;text-align:center; border: 1px solid white !important;font-size: 9px;}
td { height:10px;margin:0px; text-align:center;font-size: 10px;}

.panel-heading {
  border-bottom: none;
}